*{
    font-family: "Roboto", sans-serif;
}

.searchBar{
    width: 50em;
}

.logo{
    max-width: 100px;
}
.carouselHeight{
    max-height: 500px;
    overflow: hidden;

}

.carousel-inner {
    height: 100%; 
}
.carouselImage{
    /*object-fit: cover; 
    object-position: center; Centra la imagen*/
    width: 100%; 
    height: 450px; 
}

.sliders{
    background-color: rgba(0, 0, 0, 0.726);
}

/*Icons*/
.icon{
  max-width: 32px;
  max-height: 32px;
}

.artistsSection{
    background-color: #0047AB ;
}

/*No funciona*/
a:hover{
    color: #0047AB ;
}
.imgBeArtist{
    max-width: 800px;
}

/* Roboto fonts*/

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  .card-img-top{
    max-height: 300px; 
    object-fit: cover;
    transition: transform 0.3s ease;

  }
  .card-img-top:hover{
    transform: scale(1.03);
  }

  .img-fluid {
    width: 500vw;
  }

  .socio-premium{
    background-color: #ffc83c; /* Segundo color: amarillo */
    /* border-radius: 10px; Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra fluida */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación fluida */
}

.socio-premium:hover {
    transform: translateY(-5px); /* Efecto de elevación al pasar el mouse */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Sombra más intensa en hover */
}

.socio-premium h4 {
    font-size: 1.5rem; /* Título más grande */
    font-weight: bold; /* Texto destacado */
}

.socio-premium ul {
    list-style-type: none; /* Sin viñetas */
    padding: 0; /* Sin margen interno */

}

.socio-premium ul li {
    margin-bottom: 10px; /* Espaciado entre elementos */
    display: flex; /* Alinear icono y texto */
    align-items: center;
    font-weight: bold; 
}

.socio-premium ul li i {
    margin-right: 10px; /* Separación entre icono y texto */
    font-size: 1.2rem; /* Icono más grande */
    
}

.socio-no-premium ul li i {
    margin-right: 10px; /* Separación entre icono y texto */
    font-size: 1.2rem; /* Icono más grande */
    margin-bottom: 10px;
    align-items: center;
    list-style-type: none; /* Sin viñetas */
    
}
.socio-no-premium li{
  color: rgb(218, 223, 255);
}





.premium2 {
  background-color: #0047AB; 
  color: #ffffff; 
  padding: 20px; 
  border-radius: 8px; 
}

.premium2 h3 {
  color: #ffffff;
}

.premium2 p {
  color: #e6e6e6; 
}

.premium2 ul {
  color: #ffffff; 
}


.premium2 ul {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
}


.premium2 .list-group-item {
  background-color: transparent; 
  color: #ffffff; 
  border: none; 
}

.premium2 .list-group-item i {
  color: #198754;
}

.premium2 .list-group-item strong {
  color: #ffffff; 
}

.premium2 .boton-premium {
  background-color: #FFB700; 
  color: #ffffff; 
  border-radius: 64px;
}

.premium2 .text-muted {
  color: #e6e6e6  !important; 
}

.premium2 img {
  max-width: 70%; 
  height: auto; 
  margin: 0 auto; 
  display: block; 
}


.newsletter {
  font-size: 1.2rem; 
  font-weight: bold; 
  color: #0047AB; 
  text-align: center;
}



#input-newsletter:focus {
  border-color: #0047AB;
  outline: none; 
}



#boton-newsletter:hover {
  background-color: #003580; 
}



#newsletter-form {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

#input-newsletter {
  flex: 1; 
  max-width: 70%; 
  padding: 10px 15px; 
  font-size: 1rem; 
  border-radius: 5px; 
  border: 1px solid #ccc; 
  margin-right: 10px;
}

#boton-newsletter {
  padding: 10px 20px; 
  text-align: center;
  background-color: #0047AB; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  font-size: 0.9rem; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  max-width: 130px;
}

